extends layout

block content

    form(method='POST')
        br
        p Name:
        input(type='text', name='name', value='')
        br
        p Username:
        input(type='text', name='username', value='')
        br
        p Password:
        input(type='text', name='password', value='')
        br
        p Is admin
        input(type='checkbox', name='isAdmin')
        input(type='submit', value='Save')
        a(href='/edit_users')
            input(type='button', value='Cancel')