extends layout
block head
    script(type='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='/javascripts/add_itinerary.js')
block content

    form(method='POST', action='/edit_itineraries')
        ul
            li
                ul
                    // each day in itinerary.Days.length ? itinerary.Days : ['There are no values']
                    li
                        ul
                            // each event in itinerary.Events.length ? values : ['There are no values']
                            li
                                p Label:
                                input(type='text')
                            li
                                ul
                                    //each type in event.Type.length ? values : ['There are no values']
                                    li
                                        p Type:
                                        input(type='text')
                            li
                                p Time:
                                input(type='text')
                            li
                                p Description:
                                input(type='text')
                            li
                                p Tips:
                                input(type='text')
                            li
                                p Photo:
                                input(type='text')
                            li
                                p Price:
                                input(type='text')
                            li
                                p Hours:
                                input(type='text')
                            li
                                p Address:
                                input(type='text')
                            li
                                p Phone:
                                input(type='text')
                            li
                                p Website:
                                input(type='text')
                            li
                                p AudioGuides:
                                input(type='text')
                            li
                                p BookLink:
                                input(type='text')
                            li
                                p Transportation:
                                input(type='text')
                            li
                                p Reviews:
                                input(type='text')
                    li
                        p Title:
                        input(type='text')
                    li
                        p Date:
                        input(type='text')
                    li
                        ul
                            // each country in day.Countries.length ? values : ['There are no values']
                            li
                                p Country:
                                input(type='text')
                    li
                        ul
                            // each location in day.Locations.length ? values : ['There are no values']
                            li
                                p Location:
                                input(type='text')
                    li
                        p Overnight:
                        input(type='text')
            li
                p Title:
                input(type='text', name='title', value='')
            li
                p Description:
                input(type='text')
            li
                p Countries:
                ul(id='countries')
                    // each country in itinerary.Countries.length ? values : ['There are no values']
                p Country:
                button(type='button', onclick="add_li('countries')") Add
            li
                ul
                    // each location in itinerary.Locations.length ? values : ['There are no values']
                    li
                        p Location:
                        input(type='text')
            li
                ul
                    //each feature in itinerary.Featuring.length ? values : ['There are no values']
                    li
                        p Feature:
                        input(type='text')
            li
                p Day Length:
                input(type='text')
            li
                p Night Length:
                input(type='text')
            li
                ul
                    //each theme in itinerary.Theme.length ? values : ['There are no values']
                    li
                        p Theme:
                        input(type='text')
            li
                p Image Url:
                input(type='text')
            li
                ul
                    //each user in itinerary.User.length ? values : ['There are no values']
                    li
                        p User:
                        input(type='text')
            br
            input(type='submit', value='Save')
            a(href='edit_itineraries')
                input(type='button', value='Cancel')