extends layout

block content
    a(href='/edit_users') Edit Users
    br
    a(href='/edit_itineraries') Edit Itineraries
    br
    a(href='/edit_countries') Edit Countries
    br
    a(href='/edit_locations') Edit Locations
    br
    a(href='/edit_event_types') Edit Event Types