extends layout

block content
    section.highlights.highlights_padding
        .container
            .row
                .col-md-12
                    .wrapper_slider
                        .slider.owl-carousel.owl-theme
                            .item
                                img(src='/assets/img/slide_1.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_2.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_3.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_4.jpg', alt='')
                            .item
                                img(src='/assets/img/slide_5.jpg', alt='')
            .select_start_date
                .row
                    .col-lg-5.col-md-12
                        .items_in
                            p Select Start Date:
                            .date_time_picker
                                input.form-control.form-control_js.date-picker(type='text', value='10/05/2016', data-datepicker-color='primary')
                                .icon_calendar
                    .col-lg-7.col-md-12
                        button.save Save
                        button.save.cancel Cancel
            .about_travel
                .row
                    .col-md-12.col-lg-5
                        .content-in-item-travel
                            //
                             div class="item-about">
                             <h3>TITLE:</h3>
                             <p>Barcelona, Madrid, Andalucia</p>
                             </div
                            .item-about
                                h3 DAYS:
                                p 14 Days (12 Full Days); 13 Nights
                            .item-about
                                h3 FEATURING:
                                p Barcelona, Madrid, Cordoba, Seville, Granada
                            .item-about
                                h3 THEMES:
                                p Romantic, Beach, Active Adventure
                    .col-md-12.col-lg-7
                        .content-in-item-travel
                            h2 Trip highlights:
                            p
                                | E.g. Let the passions of Spain's history and people ignite your spirit as you take in Gaudi’s architecture in Barcelona, tour mystical Alhambra Palace in Granada, feast on Spanish tapas in Madrid & much more.
    .section.locations_days
        .container
            .row
                .col-md-12.col-lg-3.order-lg-2
                    .all_scroll_map(data-margin-top='100')
                        .map_go_to
                            .map_slider
                                .item.active(data-index='1')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='2')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='3')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='4')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='5')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='6')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='7')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='8')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='9')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='10')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                                .item(data-index='11')
                                    img(src='/assets/img/map_sidebar.png', alt='')
                        .travel_for_mar
                            .wtat_kind.clearfix
                                span
                                    | map by days
                                    img.style_wtat_kind_img(src='/assets/img/travel_in_map3.png')
                                    | view
                                // <span></span>
                        .days_map
                            .all_go_t
                                .count_dayse.map_slider_littlee.addstyle_map_slider_littlee
                                    .map_slider_littlee_prev
                                    .map_slider_littlee_box
                                        .go_to_sl.go_to_sl_1.active(data-index='1') All
                                        .go_to_sl.go_to_sl_2(data-index='2') 1
                                        .go_to_sl.go_to_sl_3(data-index='3') 2
                                        .go_to_sl.go_to_sl_4(data-index='4') 3
                                        .go_to_sl.go_to_sl_5(data-index='5') 4
                                        .go_to_sl.go_to_sl_6(data-index='6') 5
                                        .go_to_sl.go_to_sl_7(data-index='7') 6
                                        .go_to_sl.go_to_sl_8(data-index='8') 7
                                        .go_to_sl.go_to_sl_9(data-index='9') 8
                                        .go_to_sl.go_to_sl_10(data-index='10') 9
                                        .go_to_sl.go_to_sl_11(data-index='11') 10
                                        //
                                         div class="go_to_sl go_to_sl_12" data-index="12">1</div>
                                         <div class="go_to_sl go_to_sl_13" data-index="13">2</div>
                                         <div class="go_to_sl go_to_sl_14" data-index="14">3</div>
                                         <div class="go_to_sl go_to_sl_15" data-index="15">4</div>
                                         <div class="go_to_sl go_to_sl_16" data-index="16">5</div>
                                         <div class="go_to_sl go_to_sl_17" data-index="17">6</div>
                                         <div class="go_to_sl go_to_sl_18" data-index="18">7</div>
                                         <div class="go_to_sl go_to_sl_19"  data-index="19">8</div>
                                         <div class="go_to_sl go_to_sl_20" data-index="20">9</div>
                                         <div class="go_to_sl go_to_sl_21" data-index="21">10</div
                                    .map_slider_littlee_next
                        .box_element.display_none(data-index_id='7', data-index_id_min='3')
                            .box_element_conteiner
                        //
                         div class="days_map">
                         <div class="all_go_t">
                         <div class="count_dayse map_slider_littlee">
                         <div class="go_to_sl go_to_sl_1 active">All</div>
                         <div class="go_to_sl go_to_sl_2">2</div>
                         <div class="go_to_sl go_to_sl_3">3</div>
                         <div class="go_to_sl go_to_sl_4">4</div>
                         <div class="go_to_sl go_to_sl_5">5</div>
                         <div class="go_to_sl go_to_sl_6">6</div>
                         <div class="go_to_sl go_to_sl_7">7</div>
                         <div class="go_to_sl go_to_sl_8">8</div>
                         <div class="go_to_sl go_to_sl_9">9</div>
                         <div class="go_to_sl go_to_sl_10">10</div>
                         </div>
                         </div>
                         </div
                .col-md-12.col-lg-9.board_1
                    .exp-col
                        span.spa_1.active Expand All
                        |  /
                        span.spa_2 Collapse
                    #days_box.days_box
                        #days1.days(draggable='true')
                            .day.day1.clearfix
                                .time_line
                                    p Day 1
                                .all_in_head
                                    .edit_block
                                        .delete
                                            img(src='/assets/img/basket_day.png', alt='')
                                        .drag.drag_days
                                            img(src='/assets/img/drah_day.png', alt='')
                                    .head
                                        img(src='/assets/img/city1.jpg', alt='')
                                        .time_line_span_box
                                            span.time_line_span 10/05/2016
                                        h3 Arrival
                                        p Location(s): Barcelona
                                        p Overnight: Barcelona
                                .event_box
                                    #day1_event_1.event.active(data-index='1')
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .icon
                                            img(src='/assets/img/icon1.png', alt='')
                                        .content
                                            h3
                                                b Arrival - Barcelona
                                                br
                                                | Welcome to the start point of your itinerary and let the adventure begin!
                                            .hidden_part.active
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less.active(href='')
                                                    span Show Less
                                                    i
                                                        img(src='/assets/img/show.png', alt='')
                                    #day1_event_2.event.active
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .icon
                                            img(src='/assets/img/icon2.png', alt='')
                                        .content
                                            h3
                                                b Check-in
                                                br
                                                | Check-in at Stay and make yourself comfortable
                                            .hidden_part.active
                                                p.notes
                                                    b Notes:
                                                    |  Discover medieval past of Barcelona by taking a free walking tour of Gothic Quarter. The tour will walk you trough the maze of charming narrow.
                                                table
                                                    tr
                                                        td Lodging Name:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Check in:
                                                        td.add_width(style='font-size:0')
                                                            input.form-control.timepicker.timepicker_style(type='text', name='cron', required='')
                                                            .time_icon_box
                                                            input.form-control.form-control_check.date-picker1(type='text', value='12/31/1899', data-datepicker-color='primary')
                                                            .date
                                                    tr
                                                        td Check out:
                                                        td.add_width(style='font-size:0')
                                                            input.form-control.timepicker.timepicker_style(type='text', required='', name='cron')
                                                            .time_icon_box
                                                            input.form-control.form-control_check.date-picker2(type='text', value='12/31/1899', data-datepicker-color='primary')
                                                            .date
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less.active(href='')
                                                    span Show Less
                                                    i
                                                        img(src='/assets/img/show.png', alt='')
                                    #day1_event_3.event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .icon
                                            img(src='/assets/img/icon3.png', alt='')
                                        .content
                                            h3
                                                b Dinner - Tapas Stroll
                                                br
                                                | Take part in the traditional "el paseo" stroll at night, hopping from bar to bar and trying different  "tapas" appetizers. This is a greate way to sample local food and make new friends.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                    .event
                                        #day1_event_4.temp
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .icon
                                            img(src='/assets/img/icon4.png', alt='')
                                        .content
                                            h3
                                                b Optional: Street Performance of Spanish Guitar or Jazz
                                                br
                                                | At night, Barcelona's streets, squares and parks come alive with music.
                                                br
                                                | Catch a live outdoor performance.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                p.free Free
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                            .edit_events.clearfix(style='clear:both;')
                                .event_editor
                                    .event_add + Add more
                                    .event_day Days
                                    .event_event Events
                        #days2.days(draggable='true')
                            .day.day2.clearfix
                                .time_line
                                    p Day 2
                                .all_in_head
                                    .edit_block
                                        .delete
                                            img(src='/assets/img/basket_day.png', alt='')
                                        .drag.drag_days
                                            img(src='/assets/img/drah_day.png', alt='')
                                    .head
                                        img(src='/assets/img/city2.jpg', alt='')
                                        .time_line_span_box
                                            span.time_line_span 10/05/2016
                                        h3 Barcelona: Gothic Quarter, Sagrada Familia
                                        p Location(s): Barcelona
                                        p Overnight: Barcelona
                                .event_box
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 10:00
                                            .time_all_for 3h 50m
                                        .icon
                                            img(src='/assets/img/icon5.jpg', alt='')
                                        .content
                                            h3
                                                b Gothic Quarter Walking Tour (Free)
                                                br
                                                | Discover medieval past of Barcelona by taking a free walking tour of the Gothic Quarter. The tour will walk you trough the maze of charming narrow streets, old squares and magnificent cathedrals.
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of Free (based on tips)
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/man.png', alt='')
                                            | 0.2 km, 3 minutes
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 13:00
                                            .time_all_for 1h
                                        .icon
                                            img(src='/assets/img/icon3.png', alt='')
                                        .content
                                            h3
                                                b Lunch - El Born Area
                                                br
                                                | Аdjoining the Gothic Quarter, the El  Born neighbourhood is home of the most trendy and atmospheric bars, cafes, and restaurants. Pick one to you taste.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 14:00
                                            .time_all_for 2h
                                        .icon
                                            img(src='/assets/img/icon6.png', alt='')
                                        .content
                                            h3
                                                b Time at Leisure / Siesta
                                                br
                                                | Follow the tradition of Siesta and take some rest to avoid the mid-afternoon heat. Get refreshed before the evening acivities.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 17:00
                                            .time_all_for 3h
                                        .icon
                                            img(src='/assets/img/icon7.jpg', alt='')
                                        .content
                                            h3
                                                b Sagrada Familia
                                                br
                                                | La Sagrada Familia Cathedral is arguably Barcelona’s the most celebrated attraction. Designed by genious Antoni Gaudi, this unfinished masterpiece is still under construction. Funded by...
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of Free (based on tips)
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                p.free Free
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/train.png', alt='')
                                            | 2.4 km, 22 minutes
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 19:00
                                            .time_all_for 1h
                                        .icon
                                            img(src='/assets/img/icon3.png', alt='')
                                        .content
                                            h3
                                                b Dinner - Eixample Area
                                                br
                                                | Treat yourself with  a dinner in the very hart of Barcelona - stylish Eixample neighbourhood.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/car.png', alt='')
                                            | 2.4 km, 8 minutes
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 20:00
                                            .time_all_for 1h 30m
                                        .icon
                                            img(src='/assets/img/icon8.jpg', alt='')
                                        .content
                                            h3
                                                b Optional: Magic Fountains
                                                br
                                                | After dark, admire the show of dancing water.
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of
                                                    span Thur, Fr, Sat
                                                    |  Free
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                            .edit_events.clearfix
                                .event_editor
                                    .event_add + Add more
                                    .event_day Days
                                    .event_event Events
                        #days3.days(draggable='true')
                            .day.day2.clearfix
                                .time_line
                                    p Day 3
                                .all_in_head
                                    .edit_block
                                        .delete
                                            img(src='/assets/img/basket_day.png', alt='')
                                        .drag.drag_days
                                            img(src='/assets/img/drah_day.png', alt='')
                                    .head
                                        img(src='/assets/img/city2.jpg', alt='')
                                        .time_line_span_box
                                            span.time_line_span 10/05/2016
                                        h3 Barcelona: Gothic Quarter, Sagrada Familia
                                        p Location(s): Barcelona
                                        p Overnight: Barcelona
                                .event_box
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 10:00
                                            .time_all_for 3h 50m
                                        .icon
                                            img(src='/assets/img/icon5.jpg', alt='')
                                        .content
                                            h3
                                                b Gothic Quarter Walking Tour (Free)
                                                br
                                                | Discover medieval past of Barcelona by taking a free walking tour of the Gothic Quarter. The tour will walk you trough the maze of charming narrow streets, old squares and magnificent cathedrals.
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of Free (based on tips)
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/man.png', alt='')
                                            | 0.2 km, 3 minutes
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 13:00
                                            .time_all_for 1h
                                        .icon
                                            img(src='/assets/img/icon3.png', alt='')
                                        .content
                                            h3
                                                b Lunch - El Born Area
                                                br
                                                | Аdjoining the Gothic Quarter, the El  Born neighbourhood is home of the most trendy and atmospheric bars, cafes, and restaurants. Pick one to you taste.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 14:00
                                            .time_all_for 2h
                                        .icon
                                            img(src='/assets/img/icon6.png', alt='')
                                        .content
                                            h3
                                                b Time at Leisure / Siesta
                                                br
                                                | Follow the tradition of Siesta and take some rest to avoid the mid-afternoon heat. Get refreshed before the evening acivities.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 17:00
                                            .time_all_for 3h
                                        .icon
                                            img(src='/assets/img/icon7.jpg', alt='')
                                        .content
                                            h3
                                                b Sagrada Familia
                                                br
                                                | La Sagrada Familia Cathedral is arguably Barcelona’s the most celebrated attraction. Designed by genious Antoni Gaudi, this unfinished masterpiece is still under construction. Funded by...
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of Free (based on tips)
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                p.free Free
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/train.png', alt='')
                                            | 2.4 km, 22 minutes
                                    .event.with_go_to
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 19:00
                                            .time_all_for 1h
                                        .icon
                                            img(src='/assets/img/icon3.png', alt='')
                                        .content
                                            h3
                                                b Dinner - Eixample Area
                                                br
                                                | Treat yourself with  a dinner in the very hart of Barcelona - stylish Eixample neighbourhood.
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                                        .go_to
                                            i
                                                img(src='/assets/img/car.png', alt='')
                                            | 2.4 km, 8 minutes
                                    .event
                                        .edit_block
                                            .delete
                                                img(src='/assets/img/basket_grey.png', alt='')
                                            .drag
                                                img(src='/assets/img/drag_grey.png', alt='')
                                        .time_for_timeline
                                            .hours 20:00
                                            .time_all_for 1h 30m
                                        .icon
                                            img(src='/assets/img/icon8.jpg', alt='')
                                        .content
                                            h3
                                                b Optional: Magic Fountains
                                                br
                                                | After dark, admire the show of dancing water.
                                            .quantity.clearfix
                                                .feed
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star.gold
                                                    span.star
                                                    .kol (37489)
                                                .cost_of
                                                    span Thur, Fr, Sat
                                                    |  Free
                                            .hidden_part
                                                table
                                                    tr
                                                        td Airport:
                                                        td CUN
                                                    tr
                                                        td Confirmation #:
                                                        td HSU4A7
                                                    tr
                                                        td Flight #:
                                                        td UA432
                                                    tr
                                                        td Airline:
                                                        td United Airlines
                                                    tr
                                                        td Terminal:
                                                        td 3
                                                    tr
                                                        td Gate:
                                                        td B10
                                                    tr
                                                        td Booked Through:
                                                        td Expedia
                                                a.voucher(href='', download='')
                                                    i
                                                        img(src='/assets/img/paper.png', alt='')
                                                    | PDF
                                            .bottom_row.clearfix
                                                a.book_now(href='#') Book Now
                                                a.show_less(href='')
                                                    span Show More
                                                    i
                                                        img(src='/assets/img/hide.png', alt='')
                            .edit_events.clearfix
                                .event_editor
                                    .event_add + Add more
                                    .event_day Days
                                    .event_event Events
                    .clearfix
                    a.save_btn.save_btn_style(href='') Save
                    button.save_btn.save_btn_style.cancel.cancel_content Cancel
