extends layout

block content
    ul
        each itinerary in itineraries
            a(href='edit_itinerary/' + itinerary._id)
                li
                    form(method='Post')
                        input(type='hidden', name='todo', value='delete')
                        p #{itinerary.Title}
                        input(type='hidden', name='id' value=itinerary._id)
                        input(type='submit', value='Delete')
    a(href='/add_itinerary')
        button Add new






















