extends layout

block content

    form(method='POST')
        br
        p Name:
        input(type='text', name='name', value=country.Name)
        br
        input(type='submit', value='Save')
        a(href='/edit_itineraries')
            input(type='button', value='Cancel')