doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    if _user
      p Welcome, #{_user.username}

    ul
      li
        a(href='/') Home
      li
        a(href='/search') Search itineraries
      if _user
        if _user.admin
          li
            a(href='/admin') Admin Panel
        li
          a(href='/my_itineraries') My Itineraries
        li
          a(href='/logout') Log out
      else
        li
          a(href='/register') Register
        li
          a(href='/login') Login



    block content
