doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    title Travel Route
    //if lt IE 9
      script(src='js/html5shiv.js')
    //if gte IE 9
      style(type='text/css').
        .gradient {
        filter: none;
        }
    link(href='/stylesheets/animate.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic', rel='stylesheet')
    link(href='/stylesheets/all.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/datetimepicker.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/jquery.formstyler.css', rel='stylesheet')
    link(href='/stylesheets/jquery.formstyler.theme.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
    script(src='/javascripts/jquery.js', type='text/javascript')
    script(src='/javascripts/scripts.js', type='text/javascript')
    script(src='/javascripts/Sortable.js', type='text/javascript')
    script(src='/javascripts/jquery.formstyler.js')
    script(src='/javascripts/js.js', type='text/javascript')
    script(src='/javascripts/itinerary/edit.js', type='text/javascript')
  body
    header.header
      .wrap
        a.logo(href='#') Travel Route
        ul.menu
          li
            a.countries-link(href='#')
              span Itineraries
            .submenu.itineraries-submenu
              .window
                .countries-menu
                  .block
                    ul
                      li
                        span.flag(style='background-image: url(../assets/img/flags/FR.png)')
                        a(href='#') France
                      li
                        span.flag(style='background-image: url(../assets/img/flags/DE.png)')
                        a(href='#') Germany
                      li
                        span.flag(style='background-image: url(../assets/img/flags/GR.png)')
                        a(href='#') Greece
                      li
                        span.flag(style='background-image: url(../assets/img/flags/IT.png)')
                        a(href='#') Italy
                      li
                        span.flag(style='background-image: url(../assets/img/flags/RU.png)')
                        a(href='#') Russia
                      li
                        span.flag(style='background-image: url(../assets/img/flags/ES.png)')
                        a(href='#') Spain
          li
            a(href='#')
              span My Itineraries
          li.menu-button
            a(href='#')
              span + Create New
          li.divider-after
            a(href='#')
              span Travel Tips
          li
            a(href='#')
              span Sign Up
          li
            a(href='#')
              span Log In
        .menu-icon.mobile-menu-btn
          .tcont
            .tcell
              .bars
                .line.line1
                .line.line2
                .line.line3
    .all
      block content
      footer.footer
        .wrap
          ul.menu
            li
              a(href='#') Home
            li
              a.countries-link(href='#') Itineraries
            li.divider-after
              a(href='#') Travel Tips
            li
              a(href='#') Contacts
          a.logo(href='#')
            span.copyright ©
            |  Travel Route
    .bg-overlay
    .mobile-menu
      .tcont
        .tcell
          ul.menu
            li.current-menu-item
              a(href='#') Itineraries
            li
              a.countries-link(href='#') My Itineraries
            li.menu-button
              a(href='#')
                span + Create New
            li.divider-after
              a(href='#') Travel Tips
            li
              a(href='#') Sign Up
            li
              a(href='#') Log In
    // end mobile modal
    .popup.popup-countries
      .back
      .content-area
        .inner
          .window
            .btn-close
            .countries
              .block
                ul
                  li
                    span.flag(style='background-image: url(../assets/img/flags/FR.png)')
                    a(href='#') France
                  li
                    span.flag(style='background-image: url(../assets/img/flags/DE.png)')
                    a(href='#') Germany
                  li
                    span.flag(style='background-image: url(../assets/img/flags/GR.png)')
                    a(href='#') Greece
                  li
                    span.flag(style='background-image: url(../assets/img/flags/IT.png)')
                    a(href='#') Italy
                  li
                    span.flag(style='background-image: url(../assets/img/flags/RU.png)')
                    a(href='#') Russia
                  li
                    span.flag(style='background-image: url(../assets/img/flags/ES.png)')
                    a(href='#') Spain
    a.cd-top(href='#')
      i.fas.fa-angle-up
    // start mobile modal
