doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Travel Route

    link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href='/assets/css/slick.css', rel='stylesheet')
    link(href='/assets/css/owl.carousel.min.css', rel='stylesheet')
    link(href='/assets/css/owl.theme.default.min.css', rel='stylesheet')
    link(href='/assets/js/datepicker/css/datepicker.css', rel='stylesheet')
    // <link href="js/bootstrap-datetimepicker-1-master/css/bootstrap-datetimepicker.css" rel="stylesheet">
    link(href='/assets/js/bootstrap-datetimepicker-master/bootstrap-datetimepicker-master/build/css/bootstrap-datetimepicker.css', rel='stylesheet')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')

    link(href='/stylesheets/style_test2.css', rel='stylesheet')

    block head


  body.edit(id='')
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.fixed-top
      .container
        .logo Travel Route
        button.navbar-toggler.navbar-toggler-left.menu(data-target='#navbarResponsive', aria-controls='navbarResponsive', type='button', data-toggle='collapse')
          span
          span
          span
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-1(href='/') Home
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-1(href='/search') Itineraries
            li.nav-item.mx-0.mx-lg-1
              a.nav-link.py-3.px-0.px-lg-1(href='/assets/') Travel Tips
            li.nav-item.mx-0.mx-lg-5
              ul.navbar-nav.ml-auto
                li.mx-0.mx-lg-1
                  a.create.button_big.nav-link.py-3.px-3.px-lg-4(href='/add_itinerary')
                    i
                      img(src='/assets/img/plus.png', alt='')
                    |  Create Itinerary
            if _user
              if _user.admin
                li.nav-item.mx-0.mx-lg-1
                  a.nav-link.py-3.px-0.px-lg-1(href='/admin') Admin
              li.nav-item.mx-0.mx-lg-1
                a.nav-link.py-3.px-0.px-lg-1(href='/my_itineraries') My Itineraries
              li.nav-item.mx-0.mx-lg-1
                a.nav-link.py-3.px-0.px-lg-1(href='/logout') Log out
            else
              li.nav-item.mx-0.mx-lg-1
                a.nav-link.py-3.px-0.px-lg-1(href='/register') Sign up
              li.nav-item.mx-0.mx-lg-1
                a.nav-link.py-3.px-0.px-lg-1(href='/login') Log In
    // Header
    header
      .container
        block header
    // End Navbar
    // Main Canvas

    block wrapper

    block content

    // End Main Canvas
    block footer
      footer.clearfix
        .container
          .logo Travel Route
          ul
            li
              a(href='/assets/#') Home
            li
              a(href='/assets/#') Itineraries
            li
              a(href='/assets/#') Travel Tips
      a.cd-top(href='/assets/#0') Top

      script(type = 'text/javascript', src = 'https://code.jquery.com/jquery-2.1.1.min.js')
      script(src = '/assets/js/bootstrap-datetimepicker.min.js')
      script(src = '/assets/js/slick.min.js')
      script(src = '/assets/js/owl.carousel.min.js')

      script(src = '/assets/js/sticky1.min.js')
      script(src = '/assets/js/bootstrap.bundle.min.js')
      script(src = '/assets/js/moment.js')
      script(src = '/assets/js/datepicker/js/bootstrap-datepicker.js')
      script(src = '/assets/js/bootstrap-datetimepicker-master/bootstrap-datetimepicker-master/build/js/bootstrap-datetimepicker.min.js')
      script(src = '/assets/js/add_datepicker.js')

      script(src = '/assets/js/jquery-sortable.js')
      script(src = 'https://code.jquery.com/ui/1.11.3/jquery-ui.min.js')
      script(src = '/assets/js/scroll_top.js')
      script(src = '/assets/js/js.js')
      script.
        if(window.innerWidth > 768){
            var sticky = new Sticky('.all_scroll_map');
        }
      script(type = 'text/javascript').
        $(function () {
              $('.timepicker').datetimepicker({
                  format: 'HH:mm',
              });
              /*$('body').on('click', function(e){
              if(!$('input.timepicker').on('click') ){
              $('input.timepicker').blur();
              }
              })*/
          });
      script(language = 'javascript').
        /* IE11 Fix for SP2010 */
        if(typeof(UserAgentInfo) != 'undefined' && !window.addEventListener)
        {
            UserAgentInfo.strBrowser = 1;
        }


