doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    ul
      li
        a(href='/') Home
      li
        a(href='/admin') Admin Panel
      li
        a(href='/search') Itineraries
      li
        a(href='/my_itineraries') My Itineraries
      li
        a(href='/register') Register
      li
        a(href='/login') Login




    block content
