extends layout

block content

    form(method="POST" action="/login")

        p User is #{ user }

        p Username:
        input(type="text", name="username")
        p Password:
        input(type="text", name="password")
        input(type="submit" value="Login")
