doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        title
        link(href='http://development.zs-group.net/travel_main/css/bootstrap.min.css', rel='stylesheet')
        // Custom fonts for this template
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href='css/owl.carousel.min.css', rel='stylesheet')
        link(href='css/owl.theme.default.min.css', rel='stylesheet')
        link(href='http://development.zs-group.net/travel_main/css/style.css', rel='stylesheet')
    body(id='')
        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.fixed-top
            .container
                a.logo(href='')
                    | Travel
                    br
                    | Route
                button.navbar-toggler.navbar-toggler-left.menu(data-target='#navbarResponsive', aria-controls='navbarResponsive', type='button', data-toggle='collapse')
                    span
                    span
                    span
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-1(href='') Home
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-1(href='') Itineraries
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-1(href='') Travel Tips
                        li.nav-item.mx-0.mx-lg-5
                            ul.navbar-nav.ml-auto
                                li.mx-0.mx-lg-1
                                    a.itineraries.nav-link.py-3.px-0.px-lg-2(href='')
                                        i
                                            img(src='img/gpu.png', alt='')
                                        |  My Itineraries
                                li.mx-0.mx-lg-1
                                    a.create.button_big.nav-link.py-3.px-3.px-lg-4(href='')
                                        i
                                            img(src='img/plus.png', alt='')
                                        |  Create Itinerary
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-1(href='') Sign up
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-1(href='') Log In
        // Header
        header
            .container
        section.highlights
            .container
                .row
                    .col-md-12
                        .wrapper_slider
                            .slider.owl-carousel.owl-theme
                                .item(data-big_slide='img/background_1.jpg')
                                    img(src='img/slide_1.jpg', alt='')
                                .item(data-big_slide='img/bg_2.jpg')
                                    img(src='img/slide_2.jpg', alt='')
                                .item(data-big_slide='img/background_1.jpg')
                                    img(src='img/slide_3.jpg', alt='')
                                .item(data-big_slide='img/bg_2.jpg')
                                    img(src='img/slide_4.jpg', alt='')
                                .item(data-big_slide='img/background_1.jpg')
                                    img(src='img/slide_5.jpg', alt='')
                .about_travel
                    .row
                        .col-md-12.col-lg-5
                            .content-in-item-travel
                                .item-about
                                    h3 TITLE:
                                    p Barcelona, Madrid, Andalucia
                                .item-about
                                    h3 DAYS:
                                    p 14 Days (12 Full Days); 13 Nights
                                .item-about
                                    h3 FEATURING:
                                    p Barcelona, Madrid, Cordoba, Seville, Granada
                                .item-about
                                    h3 THEMES:
                                    p Romantic, Beach, Active Adventure
                        .col-md-12.col-lg-7
                            .content-in-item-travel
                                h2 Trip highlights:
                                p
                                    | E.g. Let the passions of Spain's history and people ignite your spirit as you take in Gaudi’s architecture in Barcelona, tour mystical Alhambra Palace in Granada, feast on Spanish tapas in Madrid & much more.
        .section.locations_days
            .container
                .row
                    .col-md-12.col-lg-3.order-lg-2
                        .all_scroll_map
                            .map_go_to
                                .map_slider.owl-carousel
                                    .item
                                        img(src='img/map_sidebar.png', alt='')
                                    .item
                                        img(src='img/map_sidebar.png', alt='')
                                    .item
                                        img(src='img/map_sidebar.png', alt='')
                                    .item
                                        img(src='img/map_sidebar.png', alt='')
                                    .item
                                        img(src='img/map_sidebar.png', alt='')
                            .travel_for_mar
                                .wtat_kind.clearfix
                                    span travel
                                    span route
                            .days_map
                                .all_go_t
                                    .go_left.go_to_sl.go_prev
                                        img(src='img/go_l.png', alt='')
                                    .all.go_to_sl.go_to_sl_2
                                        span All days
                                    .go_right.go_to_sl.go_next
                                        img(src='img/go_r.png', alt='')
                                .count_days
                                    span.go_to_sl.go_to_sl_1 1
                                    span.go_to_sl.go_to_sl_2.active 2
                                    span.go_to_sl.go_to_sl_3 3
                                    span.go_to_sl.go_to_sl_4 4
                                    span.go_to_sl.go_to_sl_5 5
                                    span.go_to_sl.go_to_sl_6 6
                                    span.go_to_sl.go_to_sl_7 7
                    .col-md-12.col-lg-9
                        .exp-col
                            span.spa_1.active Expand All
                            |  /
                            span.spa_2 Collapse
                        .day.day1
                            .time_line
                                p Day 1
                            .all_in_head
                                .head
                                    img(src='img/city1.jpg', alt='')
                                    h3 Arrival
                                    p Location(s): Barcelona
                                    p Overnight: Barcelona
                            .event.active
                                .icon
                                    img(src='img/icon1.png', alt='')
                                .content
                                    h3
                                        b Arrival - Barcelona
                                        br
                                        | Welcome to the start point of your itinerary and let the adventure begin!
                                    .hidden_part.active
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less.active(href='')
                                            span Show Less
                                            i
                                                img(src='img/show.png', alt='')
                                    .clearfix
                            .event
                                .icon
                                    img(src='img/icon2.png', alt='')
                                .content
                                    h3
                                        b Check-in
                                        br
                                        | Check-in at Stay and make yourself comfortable
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                            .event
                                .icon
                                    img(src='img/icon3.png', alt='')
                                .content
                                    h3
                                        b Dinner - Tapas Stroll
                                        br
                                        | Take part in the traditional "el paseo" stroll at night, hopping from bar to bar and trying different  "tapas" appetizers. This is a greate way to sample local food and make new friends.
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                            .event
                                .icon
                                    img(src='img/icon4.png', alt='')
                                .content
                                    h3
                                        b Optional: Street Performance of Spanish Guitar or Jazz
                                        br
                                        | At night, Barcelona's streets, squares and parks come alive with music.
                                        br
                                        | Catch a live outdoor performance.
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        p.free Free
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                        .day.day2
                            .time_line
                                p Day 2
                            .all_in_head
                                .head
                                    img(src='img/city2.jpg', alt='')
                                    h3 Barcelona: Gothic Quarter, Sagrada Familia
                                    p Location(s): Barcelona
                                    p Overnight: Barcelona
                            .event.with_go_to
                                .time_for_timeline
                                    .hours 10:00
                                    .time_all_for 3h 50m
                                .icon
                                    img(src='img/icon5.jpg', alt='')
                                .content
                                    h3
                                        b Gothic Quarter Walking Tour (Free)
                                        br
                                        | Discover medieval past of Barcelona by taking a free walking tour of the Gothic Quarter. The tour will walk you trough the maze of charming narrow streets, old squares and magnificent cathedrals.
                                    .quantity.clearfix
                                        .feed
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star
                                            .kol (37489)
                                        .cost_of Free (based on tips)
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                                .go_to
                                    i
                                        img(src='img/man.png', alt='')
                                    | 0.2 km, 3 minutes
                            .event
                                .time_for_timeline
                                    .hours 13:00
                                    .time_all_for 1h
                                .icon
                                    img(src='img/icon3.png', alt='')
                                .content
                                    h3
                                        b Lunch - El Born Area
                                        br
                                        | Аdjoining the Gothic Quarter, the El  Born neighbourhood is home of the most trendy and atmospheric bars, cafes, and restaurants. Pick one to you taste.
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                            .event
                                .time_for_timeline
                                    .hours 14:00
                                    .time_all_for 2h
                                .icon
                                    img(src='img/icon6.png', alt='')
                                .content
                                    h3
                                        b Time at Leisure / Siesta
                                        br
                                        | Follow the tradition of Siesta and take some rest to avoid the mid-afternoon heat. Get refreshed before the evening acivities.
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                            .event.with_go_to
                                .time_for_timeline
                                    .hours 17:00
                                    .time_all_for 3h
                                .icon
                                    img(src='img/icon7.jpg', alt='')
                                .content
                                    h3
                                        b Sagrada Familia
                                        br
                                        | La Sagrada Familia Cathedral is arguably Barcelona’s the most celebrated attraction. Designed by genious Antoni Gaudi, this unfinished masterpiece is still under construction. Funded by...
                                    .quantity.clearfix
                                        .feed
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star
                                            .kol (37489)
                                        .cost_of Free (based on tips)
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        p.free Free
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                                .go_to
                                    i
                                        img(src='img/train.png', alt='')
                                    | 2.4 km, 22 minutes
                            .event.with_go_to
                                .time_for_timeline
                                    .hours 19:00
                                    .time_all_for 1h
                                .icon
                                    img(src='img/icon3.png', alt='')
                                .content
                                    h3
                                        b Dinner - Eixample Area
                                        br
                                        | Treat yourself with  a dinner in the very hart of Barcelona - stylish Eixample neighbourhood.
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                                .go_to
                                    i
                                        img(src='img/car.png', alt='')
                                    | 2.4 km, 8 minutes
                            .event
                                .time_for_timeline
                                    .hours 20:00
                                    .time_all_for 1h 30m
                                .icon
                                    img(src='img/icon8.jpg', alt='')
                                .content
                                    h3
                                        b Optional: Magic Fountains
                                        br
                                        | After dark, admire the show of dancing water.
                                    .quantity.clearfix
                                        .feed
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star.gold
                                            span.star
                                            .kol (37489)
                                        .cost_of
                                            span Thur, Fr, Sat
                                            |  Free
                                    .hidden_part
                                        table
                                            tr
                                                td Airport:
                                                td CUN
                                            tr
                                                td Confirmation #:
                                                td HSU4A7
                                            tr
                                                td Flight #:
                                                td UA432
                                            tr
                                                td Airline:
                                                td United Airlines
                                            tr
                                                td Terminal:
                                                td 3
                                            tr
                                                td Gate:
                                                td B10
                                            tr
                                                td Booked Through:
                                                td Expedia
                                        a.voucher(href='', download='')
                                            i
                                                img(src='img/paper.png', alt='')
                                            | Sample-Voucher.pdf
                                    .bottom_row.clearfix
                                        a.book_now(href='#') Book Now
                                        a.show_less(href='')
                                            span Show More
                                            i
                                                img(src='img/hide.png', alt='')
                                    .clearfix
                        .clearfix
                        a.save_btn(href='') Save to my itineraries & customize
        footer.clearfix
            .container
                a.logo(href='')
                    | Travel
                    br
                    | Route
                ul
                    li
                        a(href='#') Home
                    li
                        a(href='#') Itineraries
                    li
                        a(href='#') Travel Tips
        a.cd-top(href='#0') Top
        // Bootstrap core JavaScript
        script(src='js/jquery.min.js')
        script(src='js/owl.carousel.min.js')
        script(src='js/bootstrap.bundle.min.js')
        script(src='js/jquery.hc-sticky.min.js')
        script(src='js/scroll_top.js')
        script(src='js/js.js')
