@font-face {
    font-family: 'Montserrat';
    src: url('/assets/css/montserrat-bold-webfont.eot');
    src: url('/assets/css/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/montserrat-bold-webfont.woff2') format('woff2'),
    url('/assets/css/montserrat-bold-webfont.woff') format('woff'),
    url('/assets/css/montserrat-bold-webfont.ttf') format('truetype'),
    url('/assets/css/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/css/montserrat-extrabold-webfont.eot');
    src: url('/assets/css/montserrat-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/montserrat-extrabold-webfont.woff2') format('woff2'),
    url('/assets/css/montserrat-extrabold-webfont.woff') format('woff'),
    url('/assets/css/montserrat-extrabold-webfont.ttf') format('truetype'),
    url('/assets/css/montserrat-extrabold-webfont.svg#montserratextrabold') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/css/montserrat-light-webfont.eot');
    src: url('/assets/css/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/montserrat-light-webfont.woff2') format('woff2'),
    url('/assets/css/montserrat-light-webfont.woff') format('woff'),
    url('/assets/css/montserrat-light-webfont.ttf') format('truetype'),
    url('/assets/css/montserrat-light-webfont.svg#montserratlight') format('svg');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/css/montserrat-medium-webfont.eot');
    src: url('/assets/css/montserrat-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/montserrat-medium-webfont.woff2') format('woff2'),
    url('/assets/css/montserrat-medium-webfont.woff') format('woff'),
    url('/assets/css/montserrat-medium-webfont.ttf') format('truetype'),
    url('/assets/css/montserrat-medium-webfont.svg#montserratmedium') format('svg');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/css/montserrat-regular-webfont.eot');
    src: url('/assets/css/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/css/montserrat-regular-webfont.woff2') format('woff2'),
    url('/assets/css/montserrat-regular-webfont.woff') format('woff'),
    url('/assets/css/montserrat-regular-webfont.ttf') format('truetype'),
    url('/assets/css/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    overflow-x: hidden;
}
body, h1, h2, h3, h4, h5, h6, p, li, div{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    color: #1e1d1d;
    line-height: 1.3;
}
header{
    background: url(../assets/img/background_1.jpg) center center no-repeat;
    height: 651px;
}
.navbar{
    background: rgba(0,0,0,0.84);
    padding: 0,625rem;
}
.navbar-toggler{
    background-color: #fff;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    padding: .5rem 1rem;
}
a:hover{
    color: inherit;
}
nav a{
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 300;
}
nav a:hover{
    color: #fff;
}
nav .logo{
    font-size: 18px;
}

nav .logo{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

nav a.button_big{
    background: #fff;
    color: #f7643c;
    border-radius: 4px;
}
nav a i{
    margin-right: 10px;
}
.navbar-nav a.nav-link{
    display: inline-block;
    width: auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 15px 22px;
}
.navbar-nav a.nav-link:hover{
    opacity: 0.9;
}
.owl-carousel .owl-item img{
    width: auto !important;
    max-width: 100%;
    margin: 0 auto;
}
.slider{
    padding: 20px;
    border-radius: 4px;
    background: #fff;
    position: relative;
    width: 100%;
}
.slider .item img{
    border-radius: 4px;
    width: 100%;
}
section.highlights{
    background: url(../assets/img/map_bg.png) center bottom no-repeat;
    padding: 60px 0;
}

section.highlights .owl-nav{
    display: block !important;
    position: absolute;
    bottom: -80px;
    width: 100%;
    left: 0;
    margin-top: 0;
}
.wrapper_slider{
    position: relative;
    margin-top: -179px;
    padding-bottom: 75px;

}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
    width: 56px;
    height: 56px;
    background-color: #fff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    outline: none;
}
.owl-carousel .owl-nav button.owl-next{
    background-image: url(../assets/img/arrow_next_hover.png);
}
.owl-carousel .owl-nav button.owl-prev{
    background-image: url(../assets/img/arrow_prev_hover.png);
}
.owl-carousel .owl-nav button.owl-next:hover, .owl-carousel .owl-nav button.owl-prev:hover{
    background-color: #f7643c;
    background-position: center;
    background-repeat: no-repeat;
}
.owl-carousel .owl-nav button.owl-next:hover{
    background-image: url(../assets/img/arrow_next.png);
}
.owl-carousel .owl-nav button.owl-prev:hover{
    background-image: url(../assets/img/arrow_prev.png);
}
.about_travel .col-lg-5 .content-in-item-travel,
.about_travel .col-lg-7 .content-in-item-travel{
    background: #fff;
    padding: 15px 50px;
    width: 100%;
    border-radius: 4px;
}
.about_travel .col-lg-7 .content-in-item-travel{
    padding: 40px 50px;
}
.about_travel .col-lg-5,
.about_travel .col-lg-7 {
    display: -webkit-flex;
    -webkit-flex-flow: row-reverse wrap;
    display: flex;
    flex-flow: row-reverse wrap;
}
.about_travel{
    margin-top: 30px;
}
.about_travel h3{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}
.about_travel h2{
    font-weight: bold;
    margin-bottom: 30px;
}
.about_travel p{
    font-size: 15px;
    margin-bottom: 0;
}
.about_travel .col-lg-7 p{
    width: 82%;
    line-height: 1.5;
}
.about_travel .col-lg-7 .content-in-item-travel{
    background: #fff url(../assets/img/plane_icon_bg.png) bottom -5px right 60px no-repeat;
}
.about_travel .item-about:nth-child(1){
    border: none;
}
.about_travel .item-about{
    padding: 20px 0;
    border-top: 1px solid #f7f5f5;
}
.locations_days{
    padding-top: 60px;
    padding-bottom: 80px;
}
.locations_days .col-lg-9,
.locations_days .col-lg-3{
    padding-top: 30px;
}
.locations_days .col-lg-9 .exp-col{
    position: absolute;
    right: 0;
    top: -5px;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 15px;
}
.locations_days .col-lg-9 .exp-col span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.locations_days .col-lg-9 .exp-col span.active{
    font-weight: bold;
}
.day{
    padding-left: 95px;
    position: relative;
    margin-bottom: 60px;
}
.day .head{
    background: #0d0d0d;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding: 30px;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.day .head:after{
    bottom: 30px;
    right: 30px;
    position: absolute;
    content: '';
    background: url(../assets/img/new_imgase/show_white.png) center center no-repeat;
    width: 17px;
    height: 17px;
    background-size: cover;
}
.day.active .head:after{
    background: url(../assets/img/new_imgase/hide_white.png) center center no-repeat;
    background-size: cover;
}

.day .head img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    -o-opacity: 0.3;
    -moz-opacity: 0.3;
    -webkit-opacity: 0.3;
}
.day .head h3{
    font-weight: bold;
    font-size: 18px;
    position: relative;
    z-index: 2;
    color: #fff;
}
.day .head p{
    font-size: 15px;
    font-weight: 300;
    position: relative;
    z-index: 2;
    color: #fff;
    margin-bottom: 0;
}
.day .event{
    padding: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    margin-top: 10px;
    position: relative;
    display: flex;

}
.day .event.with_go_to{
    margin-bottom: 35px;
}
.day .event .icon{
    width: 76px;
    height: 76px;
    border-radius: 4px;
    background: #f7f7f7;
    position: relative;
    border-radius: 4px;
    outline-color: #000;
    overflow: hidden;
}
.day .event .icon img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}

.day .event h3{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
}
.day .event h3 b{
    font-weight: bold;
}
.day .event .content{
    padding-left: 20px;
    width: 88%;
}
.day .event .content table{
    font-size: 15px;

    margin-bottom: 20px;
}
.day .event .content table td{
    padding: 5px 0;
}
.day .event .content table td:nth-child(1){
    font-weight: bold;
}
.day .event .content table td:nth-child(2){
    text-align: right;
}
.day .event .hidden_part{
    position: relative;
    display: none;
}
.day .event .hidden_part.active{
    display: block;
}
.day .event .hidden_part a.voucher{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    text-transform: uppercase;
    background: #f7f7f7;
    border-radius: 4px;
    color: #1e1d1d;
    line-height: 1.2;
    display: block;
    text-decoration: none;
    padding: 16px 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.day .event .hidden_part a.voucher:hover{
    opacity: 0.9;
}
.day .event .hidden_part a.voucher i{
    margin-right: 5px;
}
.day .event .bottom_row{
    vertical-align: middle;
    /*margin-top: 20px;*/
    clear: both;
}
.day .event .bottom_row .book_now{
    font-size: 12px;
    background: #f7643c;
    border-radius: 4px;
    color: #fff;
    line-height: 1.2;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #f7643c;
}
.day .event .bottom_row .book_now:hover{
    color: #fff;
    background: #fa794f;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #fa794f;
}
.day .event .bottom_row .show_less{
    float: right;
    color: #1e1d1d;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
}
.day .event .bottom_row .show_less.active{
    color: #f7643c;

}
.day .event .bottom_row .show_less.active span{
    border-bottom: 1px solid #feefeb;
}
.day .event .bottom_row .show_less span{
    border-bottom: 1px solid #e8e8e8;
    margin-right: 4px;
}
.day .event .bottom_row .show_less:hover span{
    border-bottom: 1px solid transparent;
}
.day .event .bottom_row p.free{
    font-weight: 700;
    font-size: 12px;
    margin-top: 16px;
    float: left;
    margin-bottom: 0;
}
.time_line{
    position: absolute;
    left: 0;
    height: 100%;
}
.time_line p{
    font-size: 18px;
    color: #f7643c;
    margin-bottom: 0;
    background: #fff;
    position: relative;
    font-weight: 500;
    z-index: 2;
    line-height: 1;
    padding-bottom: 5px;
}
/*.time_line:after{
	left: 8px;
	width: 3px;
	height: 100%;
	background: #ebebeb;
	position: absolute;
	content: '';
	top: 0;
}*/
.day .event:after{
    border-width: 2px;
    border-color: rgb(247, 100, 60);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 12px;
    height: 12px;
    box-shadow: 0px 0px 2px 10px #fff;
    position: absolute;
    content: '';
    left: -92px;
    top: 62px;
}
.day .event:before {
    left: -87px;
    width: 3px;
    height: 100%;
    background: #ebebeb;
    position: absolute;
    content: '';
    top: 73px;
}
.day .event.with_go_to:before{
    height: 110%;
}
.day .all_in_head{
    position: relative;
}
.day .all_in_head:after {
    left: -87px;
    width: 3px;
    height: 200%;
    background: #ebebeb;
    position: absolute;
    content: '';
    top: 0px;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}

.day .event:nth-last-child(1):before{
    background: #fff;
    background: transparent;
}
.quantity{
    font-weight: bold;
    font-size: 12px;
    clear: both;
    margin: 20px 0 25px;
}
.quantity .feed{
    float: left;
}
.quantity .cost_of{
    float: right;
    font-weight: bold;
}
.quantity .cost_of span{
    font-weight: 400;
    margin-right: 10px;
}
.quantity .feed span{
    background: url(../assets/img/star.png) center center no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
    right: 6px;
}
.quantity .feed span.gold{
    background: url(../assets/img/star-a.png) center center no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.quantity .feed .kol{
    margin-left: 5px;
    display: inline-block;
}
.time_for_timeline{
    font-size: 14px;
    text-align: center;
    position: absolute;
    left: -72px;
    top: 51px;
    width: 66px;
}
.time_for_timeline .hours{
    font-weight: bold;
}
.go_to{
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    font-size: 10px;
    position: absolute;
    left: 30px;
    bottom: -35px;
}
.go_to i{
    margin-right: 5px;
}
a.save_btn {
    font-size: 12px;
    background: #f7643c;
    border-radius: 4px;
    color: #fff;
    line-height: 1.2;

    text-decoration: none;
    padding: 15px 25px;
    float: left;
    font-weight: 400;
    float: right;
    text-decoration: none;
}
a.save_btn:hover{
    color: #fff;
    background: #fa794f;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /*border: 1px solid #fa794f;*/
}
footer{
    background: #0d0d0d;
    padding: 20px 0;
}
footer a{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
footer a:hover{
    text-decoration: underline;
    color: #fff;
}
footer .logo{
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    color:#fff;
    margin: 10px;
}
footer ul{
    float: right;
}
footer ul li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    margin-bottom: 0;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #999 url(../assets/img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    z-index: 1001;
    border-radius: 50%;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.no-touch .cd-top:hover {
    background-color: #FF8400;
    opacity: 0.8;
}

.map_go_to img{
    width: 100%;
}
.travel_for_mar{
    /*border-radius: 4px;*/
    /*border: 2px solid #f7643c;*/
    padding: 5px 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;

}
.travel_for_mar .w{}
.travel_for_mar span{
    text-transform: uppercase;
    font-weight: bold;

    font-size: 16px;
}
.travel_for_mar span + span{
    float: right;
}
.days_map{

    line-height: 20px;
    margin-top: 0px;
    font-size: 12px;
    text-align: center;
}
.days_map .owl-dots{
    display: none;
}
.days_map img{
    vertical-align: middle;
    margin-top: 6px;
}
.days_map .go_left{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_l.png) center center no-repeat;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.days_map .go_left:hover{
    background: #eee url(../assets/img/go_l.png) center center no-repeat;
}
.days_map .go_right:hover{
    background: #eee url(../assets/img/go_r.png) center center no-repeat;
}
.days_map .go_right{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_r.png) center center no-repeat;
    width: 20px;
    border-radius: 50%;
    height: 20px;

}
.days_map .all{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 10px;

}
.days_map .all:hover{
    text-decoration: underline;
}
.days_map .count_days{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
.days_map .count_days span,.days_map .count_days div{
    width: 20px;
    height: 20px;
    margin: 0 3px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.days_map .count_days div:hover,.days_map .count_days span:hover{
    background: #eee;
}
.count_dayse .slick-slide:hover{
    color: #fff;
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    background: #888;
}
.days_map .count_days span.active,.days_map .count_dayse div.slick-current.slick-active{
    background: #f7643c;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);


}
.count_dayse{
    /*width: 60%;*/


}
.slick-slider .slick-track{
    padding-top: 13px;
    padding-bottom: 13px;
}
.count_dayse .slick-list{
    width: 50%;
    display: inline-block;
}
.count_dayse .slick-prev, .count_dayse .slick-next{
    display: inline-block;
    border: none;
}
.count_dayse .slick-next{
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_r.png) center center no-repeat;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    font-size: 0;
    outline: none;
    margin-top: 13px;
}
.count_dayse .slick-prev {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_l.png) center center no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0;
    outline: none;
    margin-top: 13px;
}
.count_dayse .slick-next:hover{
    background: #a6a6a6 url(../assets/img/go_r.png) center center no-repeat;
}
.count_dayse .slick-prev:hover{
    background: #a6a6a6 url(../assets/img/go_l.png) center center no-repeat;
}
.count_dayse .slick-slide{
    /*width: 25px !important;*/

    line-height: 26px;
    border-radius: 50%;
    outline: none;
}
.count_dayse .slick-list{
    padding: 0 !important;
}
p.notes{
    font-size: 15px;
    margin-top: 30px;
}
.edit .slider{
    display: none;
}
.edit .about_travel{
    margin-top: 0;
}
.select_start_date{
    margin-bottom: 60px;
}
.select_start_date .items_in{
    display: flex;
    vertical-align: middle;
}
.select_start_date .items_in p{
    font-size: 17px;
    font-weight: bold;
    margin-right: 23px;
    margin-bottom: 0;
    padding-top: 14px;
}
.date_time_picker{
    float: right;
    position: relative;
}
.icon_calendar{
    position: absolute;
    height: 100%;
    right: 0;
    background: url(../assets/img/calendar.png) center center no-repeat;
    width: 36px;
    top: 0;
}
.date_time_picker input[type=text]{
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    width: 275px;
    height: 51px;
    line-height: 51px;
    border: none;
    float: right;
    display: block;
    outline: none;
    text-indent: 20px;
    font-size: 16px;
}
.select_start_date button.save {
    font-size: 12px;
    background: #f7643c;
    border-radius: 4px;
    color: #fff;
    line-height: 1.2;

    text-decoration: none;
    padding: 0;
    float: left;
    font-weight: 400;
    text-transform: uppercase;
    float: right;
    border: none;
    outline: none;
    width: 140px;
    line-height: 51px;
    height: 51px;
}
.edit_block{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}
.edit_block div{
    display: inline-block;
    zoom: 1;
    margin-left: 7px;
    cursor: pointer;
}
.event tr td{
    position: relative;
}
.event tr td .date{
    position: absolute;
    height: 100%;
    width: 28px;
    display: block;
    right: -28px;
    top: -2px;
    background: url(../assets/img/calendar.png) center center no-repeat;
}
.event_editor{
    float: right;
}
.edit_events{
    margin-bottom: 60px;
    margin-top: 20px;
}
.event_editor .event_day,
.event_editor .event_event,
.event_editor .event_add{
    display: inline-block;
    zoom: 1;
    margin-left: 10px;
}
.event_add{
    font-weight: bold;
}
.event_editor .event_day,
.event_editor .event_event{
    font-size: 12px;
    background: #e6e6e6;
    border-radius: 4px;
    color: #1e1d1d;
    line-height: 1.2;
    display: inline-block;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 400;
}
.day.active .all_in_head:after{
    opacity: 0;
    -o-opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
}
.edit .day{
    margin-bottom: 0;
}
.edit .save_btn{
    margin-top: -20px;
    padding-left: 25px;
    padding-right: 25px;
}
.day .event h3{
    height: 40px;
    overflow: hidden;
}
.day .event.active h3{
    height: auto;
}


.menu {
    width: 42px;
    height: 42px;
    position: relative;
    top: 4px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    background: transparent;
    outline: none !important;
    padding: 0;
    z-index: 2;
}

.menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.menu span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu span:nth-child(3) {
    top: 30px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}
.menu.open span:nth-child(1) {
    background: #fff;
}
.menu.open span:nth-child(2) {
    width: 75%;
    background: #fff;
}
.menu.open span:nth-child(3) {
    background: #fff;
}
.navbar>.container{
    position: relative;
}
.days_map .count_dayse div.slick-current.slick-active{
    background: #555;
}
.count_dayse .slick-slide:hover {

    background: #ccc;
}
.slick-slider .slick-track{
    padding-top: 0;
}
.all_scroll_map.sticky{
    padding-top: 12px;
}
.count_dayse .slick-prev,.count_dayse .slick-next {

    margin-top: 1px;
}
body .count_dayse .slick-list {
    width: 77%;
}
body .count_dayse .slick-list.width_60 {
    width: 60%;
}
body .count_dayse .slick-list.width_slider {
    width: 50%;
}
.count_dayse .slick-slide {

    line-height: 25px;


}
.slick-initialized .slick-slide.display_none, body .display_none{
    display: none;
}
.box_element_conteiner .go_to_sl,  .go_to_sl_dop_style, .map_slider_littlee .go_to_sl {
    line-height: 25px;
    border-radius: 50%;
    outline: none;
    width: 26px;
    float: left;
    height: 100%;
    min-height: 1px;
    font-size: 12px;
}
.box_element_conteiner .go_to_sl, .map_slider_littlee .go_to_sl{
    cursor: pointer;
}
.box_element_conteiner .go_to_sl:hover , .map_slider_littlee .go_to_sl:hover{
    color: #fff;
    /* box-shadow: 0px 5px 24px 0px rgba(200, 200, 200, 0.56);*/
    background: #ccc;
    color: #2c2c2c;
    background-color: rgba(222, 222, 222, 0.3);
    border: none;
}
.box_element_conteiner .go_to_sl.active, .map_slider_littlee .go_to_sl.active {
    background: #888;
    color: #fff;
    animation-timing-function: linear;
    transition-duration: 1s;
    /*box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);*/
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.box_element_conteiner{
    overflow:hidden;
    display: inline-block;
    padding-bottom: 13px;
}
.go_to_sl_dop_style {
    font-weight: bold;
    width: 13px;
}
.go_to_sl_dop_style{
    display:none;
}
.go_to_sl_dop_style.active {
    display:inline-block;
}
.addstyle_map_slider_littlee {
    overflow: hidden;
    display: inline-block;
    padding-bottom: 13px;
}

.map_slider_littlee_prev {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_l.png) center center no-repeat;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 0;
    outline: none;
    /* margin-top: 13px;*/
    padding-bottom: 13px;
}
.map_slider_littlee_next {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    background: url(../assets/img/go_r.png) center center no-repeat;
    width: 25px;
    border-radius: 50%;
    height: 25px;
    font-size: 0;
    outline: none;
    /* margin-top: 13px;*/
    padding-bottom: 13px;
}
.map_slider_littlee_next:hover{
    color: white;
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    background: #ccc url(../assets/img/go_r.png) center center no-repeat;
}
.map_slider_littlee_prev:hover {
    color: white;
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    background: #ccc url(../assets/img/go_l.png) center center no-repeat;
}
.map_slider_littlee_box{
    overflow: hidden;
    display: inline-block;
    padding-bottom: 13px;
}
.map_slider .item{
    display:none;
    opacity: 0;
    animation-timing-function: linear;
    transition-duration: 1s;
}
.map_slider .item.active{
    display:block;
    opacity: 1;
    animation-timing-function: linear;
    transition-duration: 1s;
}
.addstyle_map_slider_littlee{
    font-size:0;
}
.animate_from_slider{
    animation-timing-function: linear;
    transition-duration: 1s;
    opacity: 0;
}
.style_wtat_kind{
    position:relative;
}
.style_wtat_kind_img{
    margin-bottom: 4px;
    position:relative;
    top:-2px;
}
.map_slider_littlee_prev, .map_slider_littlee_next{
    opacity:0;
    cursor: auto;
}
.map_slider_littlee_prev.active, .map_slider_littlee_next.active{
    opacity:1;
    cursor: pointer;
}
.go_to_sl_dop_style {

    width: 26px;
}
.navbar {
    background: rgba(0,0,0,0.84);
    padding: 1rem;
}
nav .logo {

    font-size: 13px;

}
nav a {

    font-size: 12px;

}
.about_travel {
    margin-top: 60px;
}
.travel_for_mar span {

    font-size: 13px;
}
.box_element_conteiner .go_to_sl, .go_to_sl_dop_style, .map_slider_littlee .go_to_sl ,.map_slider_littlee_prev, .map_slider_littlee_next {
    line-height: 28px;
    width: 27px;
    height: 27px;
    font-size: 14px;
}
/**----------------------------*/
body .datepicker .day div ,body .datepicker th {
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2.2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 14px;
    border: none;
    position: relative;
    cursor: pointer;

}
body .datepicker .day div{
    color: #888;
}
body td.active.disabled:hover:hover div{
    background-color: #f96332;
}
.datepicker table tr td.active div, .datepicker table tr td.active:hover div{
    background-color: #f96332;
    color: #FFFFFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
td.day {
    padding-left: 0;
}
body .datepicker td.active.active{
    background: none;
}
body .datepicker .switch {
    width: auto;
    border-radius: 0.1875rem;
}
.datepicker th {
    color: #f96332;
}
.dropdown-menu {
    border: none;
}
body .dropdown-menu {
    border: 0;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
    font-size: 14px;
    padding: 8px 6px;
    direction: ltr;
    /*display: block;*/
    width: 254px;
    max-width: 254px;

}
.datepicker .prev, .datepicker .next {
    width: 35px;
    height: 35px;
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
    padding: 2px;
    text-align: center;
    cursor: pointer;
}
body .datepicker td.active:hover, body  .datepicker td.active:hover:hover, body .datepicker td.active:focus, body .datepicker td.active:hover:focus, body .datepicker td.active:active, body .datepicker td.active:hover:active, body .datepicker td.active.active, body .datepicker td.active:hover.active, body .datepicker td.active.disabled, body .datepicker td.active:hover.disabled, body .datepicker td.active[disabled], body .datepicker td.active:hover[disabled] {

    background:none
}
.datepicker th.next, .datepicker th.prev{
    line-height:1;
}
.table-condensed>tbody>tr>td:hover{
    background:none!important;
}
.datepicker table tr td:hover div{
    background:#eeeeee!important;
}
.datepicker table tr td span{
    display: block;
    width: 41px;
    height: 41px;
    line-height: 41px;
    float: left;
    margin: 1%;
    font-size: 14px;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
body .datepicker td span.active.active{
    background: #f96332;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2);
}
.datepicker table tr td.old, .datepicker table tr td.new {
    color: #888;
}
.select_start_date button.save{
    height: 44px;
    line-height: 44px;
    width: 75px;
    font-size: 12px;
    text-transform: inherit;
}
input[type="text"].form-control {
    outline: none!important;
    border: none!important;
    box-shadow: none;
    outline-offset: 0!important;
}
/*
input:active, input:focus {
  outline: none !important;
}
input::-moz-focus-inner {
  border: 0 !important;
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
*/
.form-control_check{
    width: 46%;
    display: inline-block;
    padding: 0;
}
.add_width{

    width: 167px;
}
.day .head, .day .all_in_head{
    height: 129px;
}
.edit_events {
    padding-bottom: 40px;
    padding-top: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.days {
    height: auto!important;
}
.save_btn_style{

}
.days_dop_style{
    margin-top:30px;
    margin-bottom: 30px;
}
.select_start_date button.save {
    height: auto;

    width: 75px;
    font-size: 12px;
    text-transform: inherit;
    padding: 10px 15px;
    line-height: 1.2;
}
input::-ms-clear {
    display: none;
}
.cancel{
    margin-right:30px;
    height: auto;
    width: auto;
    font-size: 12px;
    text-transform: inherit;
    padding: 10px 15px;
    line-height: 1.2;
    background: #f7643c;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
}
.cancel_content{
    margin-left: 30px;
}
.event_editor .event_day, .event_editor .event_event{
    font-size: 12px;

    border-radius: 4px;

    line-height: 1.2;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    float: left;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;

}
a.save_btn{
    padding: 10px 15px;
}
.event_editor .event_add{
    margin-top: 6px;
}
body section.highlights_padding{
    padding-top: 60px;
}
input[type=time]{
    outline: none!important;
    border: none!important;
    box-shadow: none;
    outline-offset: 0!important;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    -webkit-appearance: none;
    margin: 0;
    background-color: #fff;
    background-clip: padding-box;
    width: 64px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=text]::-ms-clear {  display: none!important; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none!important; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none!important; }
button {
    width:100px;
    height:40px;
    transition:background-color, color 1s ease-out;
    -webkit-transition:background-color, 1s ease-out;
    -moz-transition:background-color, 1s ease-out;
    -o-transition:background-color, 1s ease-out;
    padding: 10px;
    border: 1px solid #000;
    text-decoration: none;
}

button:hover {
    background: #fa794f;
    color: #fff;
}

.event_editor .event_day:hover, .event_editor .event_event:hover, .select_start_date button.save:hover, .edit .save_btn:hover, body .cancel:hover, .save:hover {
    color: #fff;
    background: #fa794f;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /* border: 1px solid #fa794f; */
}
.event_editor .event_add {

    float: left;
}
.save{
    cursor: pointer;
}
.voucher i img{
    position: relative;
    top: -1px;
}
.time_line p {

    /* background: rgba(0,0,0,0);*/

}
.time_line_span{
    font-size: 15px;
    z-index: 2;
    color: #fff;
}
.time_line_span_box{
    position:absolute;
    z-index: 2;
    top: 8px;
}
.add_width {
    width: 185px;
}
.form-control_check {
    width: 47%;
    display: inline-block;
    padding: 0;
    min-width: 85px;
}
.highlight{
    width:100%;
    padding:0;
    margin:0;
    height: 3px;
    background: rgb(247, 100, 60);
    position: relative;
    left:0;
    right:0;
    margin-top: 15px;
    margin-bottom: 15px;
}
.timepicker_style{
    width: 78px;
    display: inline-block;
    padding-right: 0;
}
body .btn-primary {
    color: #fff;
    background-color: #f96332;
    border-color: #f96332;
    border-radius:50%;
    width:30px;
    height: 30px;
    font-size: 14px;
    padding:0;
    line-height: 1.2;
}
.btn-primary:hover {
    color: #fff;
    background: #fa794f;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border: 1px solid #fa794f;
}
body .bootstrap-datetimepicker-widget .timepicker-hour, body .bootstrap-datetimepicker-widget .timepicker-minute, body .bootstrap-datetimepicker-widget .timepicker-second {

    font-weight: normal;
    width: 30px;
    height: 30px;
    margin: 0;
    border-radius: 50%;
    font-size: 14px;
    line-height: 2.2;
    color: #505356;
}
body  .bootstrap-datetimepicker-widget table td span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 2px 1.5px;
    cursor: pointer;
    border-radius: 50%;

}
body .bootstrap-datetimepicker-widget table td {
    height: 30px;
    line-height: 30px;
    width: 30px;
    padding:0;
}
body .bootstrap-datetimepicker-widget table td.separator{
    width:10px;
}
body .bootstrap-datetimepicker-widget.dropdown-menu {
    width: 255px;
    max-width: 155px;
}
body .bootstrap-datetimepicker-widget button[data-action] {
    padding: 0;
}
.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    content: "Decrement Minutes";
}
body .bootstrap-datetimepicker-widget table td span.glyphicon-chevron-up{
    background: url('../assets/img/top_1.png') center center no-repeat;

}
body .bootstrap-datetimepicker-widget table td span.glyphicon-chevron-down{
    background: url('../assets/img/bottom_1.png') center center no-repeat;

}
body .bootstrap-datetimepicker-widget table td span.glyphicon-chevron-up:hover{
    background: #eeeeee url('../assets/img/top_1.png') center center no-repeat;

}
body .bootstrap-datetimepicker-widget table td span.glyphicon-chevron-down:hover{
    background: #eeeeee  url('../assets/img/bottom_1.png') center center no-repeat;

}
input[type="text"].form-control.timepicker_style, input[type="text"].form-control.form-control_check{
    border: 1px solid #ccc!important;
    padding: 0;
    padding-left: 5px;
    width: 58px;
    padding: 5px;

}
.form-control_check {
    width: 47%;
    display: inline-block;
    padding: 0;
    min-width: 95px;
}
input[type="text"].form-control.form-control_check:focus, input[type="text"].form-control.timepicker_style:focus {
    outline: none!important;
    border: 1px solid #f7643c!important;
    box-shadow: none;
    outline-offset: 0!important;
}
.time_icon_box{
    width: 28px;
    display: inline-block;
    margin-right: 0px;
    position: relative;
}
.time_icon_box_img{
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 7px;
    margin-right: 2px;
}
.date, .time_icon_box, .icon_calendar{
    cursor: pointer;
}
.time_icon_box_img {
    width: auto;
    height: auto;
    vertical-align: middle;
    margin-bottom: 7px;
    margin-right: 6px;
    position: relative;
    top: -2px;
}
.bootstrap-datetimepicker-widget table td.hour , .bootstrap-datetimepicker-widget table td.minute{
    webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    transition: all 300ms ease 0s;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 2.2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 50%;
    font-weight: 300;
    font-size: 14px;
    border: none;
    position: relative;
    cursor: pointer;
    text-align: center;
    color: #888;
}
body .bootstrap-datetimepicker-widget .timepicker-hour, body .bootstrap-datetimepicker-widget .timepicker-minute{
    color: #888;
}
.table-condensed>tbody>tr>td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover   {
    background: #eeeeee!important;
}

body .bootstrap-datetimepicker-widget.dropdown-menu {
    width: 130px;
    max-width: 130px;
    min-width: 89px;
    height: auto;
    /*  max-height: 148px;
      min-height: 148px;*/
}
.day .event .content .bootstrap-datetimepicker-widget.dropdown-menu table {
    font-size: 15px;
    margin-bottom: 0;
}
.day .event .content  .bootstrap-datetimepicker-widget.dropdown-menu   table td:nth-child(1) {
    font-weight: normal;
}
.day .event .content .bootstrap-datetimepicker-widget.dropdown-menu table td:nth-child(2) {
    text-align: center;
}
.day .event .content .bootstrap-datetimepicker-widget.dropdown-menu  table td {
    padding: 0;
}
.timepicker-hours , .timepicker-minutes{
    background: white;
}
body .bootstrap-datetimepicker-widget.usetwentyfour td.hour {
    height: 30px;
    line-height: 30px;
}
.itineraries_style h2{

    font-weight: bold;
    margin-bottom: 30px;
}
.itineraries__box{
    display: flex;
    flex-flow:  wrap;
    width: 100%;
}
.itineraries__box_itme_left_photo_img{
    width: 390px;
}
.itineraries__box_itme_left_photo{
    overflow:hidden;
    width: 77%;
}
.itineraries__box_itme {
    display: flex;
    flex-flow:  wrap;
}
.itineraries__box_itme_left{
    /*border: 1px solid black;*/
}
.itineraries__box_itme{
    padding: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    margin-top: 10px;
    position: relative;
    display: flex;

}
.itineraries__box_itme_left_map, .itineraries__box_itme_left_photo {
    display:inline-block;
}
.itineraries__box_itme_left_map{
    overflow: hidden;
    float: right;
    width: 23%;
    height: 132px;

}
.batton_box{
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    width: 70px;
    margin-right: 0!important;
    text-align: center;
    float: right;
    clear: both;
}
.cancel_btn{
    margin-right: 0;
    float: left;
    width: 70px;
}
.itineraries__box_itme_left_bottom_top_text{
    margin-bottom:5px;
    margin-top: 3px;
}
.itineraries__box_itme_left_bottom_bottom_text_more,
.itineraries__box_itme_left_bottom_bottom_text_nights,
.itineraries__box_itme_left_bottom_bottom_text_days  {
    display: inline-block;
}
.itineraries__box_itme_left_bottom_bottom_text_more  {
    float:right;
}
.itineraries__box_itme {

    margin-bottom: 35px;
}
.itineraries_style h2 {
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 40px;
    margin-left: 15px;
}
.itineraries__box_itme_left_bottom_bottom_text_more {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    padding-right: 15px;
}
.itineraries__box_itme_left_bottom_bottom_text_more:hover span {
    cursor: pointer;
    text-decoration: underline;
}
.itineraries__box_itme_left_photo {
    border-radius: 4px 0 0 4px;
}
.itineraries__box_itme_left_map{
    border-radius: 0 4px 4px 0;
}
.content_itineraries{
    width: 100%;
    display: flex;
}
.content_itineraries__linkc{
    display:inline-block;
    width: 33.333333%;
    position: relative;
}
.content_itineraries__linkc_div{
    background: url(../assets/img/background_1.jpg) center center no-repeat;
    width: 320px;
    height: 320px;
    margin: auto;
    margin-bottom: 30px;
    background-size: cover;
}
.content_itineraries__linkc:nth-child(2)  .content_itineraries__linkc_div{
    background: url(../assets/img/bg_2.jpg) center center no-repeat;

    background-size: cover;
}
.content_itineraries__linkc_div:nth-child(3){
    background: url(../assets/img/background_1.jpg) center center no-repeat;

    background-size: cover;
}

.content_itineraries__linkc_content{
    position:absolute;
    top:0;
    width: 320px;
    margin:auto;
}

.block .dest-image:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .25;
    -webkit-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.time_icon_box_img{
    display: none;
}
.time_icon_box{
    width: 28px;
    height: 31px;
    background: url(../assets/img/icon_time_8.png) center center no-repeat;
    vertical-align: top;
}
.time_icon_box {
    width: 24px;

}
.date_time_picker input[type=text]{
    width: 254px;
    text-indent: 0px;
}
@media (max-width: 991px){
    .logo{
        display:none;
    }
    .navbar-collapse{
        /*display: block !important;*/
    }
    .navbar{
        /*height: 72px;*/
    }
    .navbar-toggler{
        float: left;
    }
    .locations_days{
        padding-top: 30px;
    }
    .order-lg-2{
        margin-bottom: 50px;
    }
    .navbar-collapse{
        position: absolute;
        top: 10px;
        width: 100%;
        /*background: rgba(0,0,0,0.84);*/
        /*padding-left: 15px;*/
        /*padding-right: 15px;*/
        /*width: 100%;*/
        left: -200%;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .select_start_date .items_in{
        display: block;
    }
    .date_time_picker{
        float: left;
        margin: 10px 0;
    }
    .select_start_date button.save{
        float: left;
        margin-right: 30px;
    }
    .navbar-collapse.show{
        left: 0;
        position: relative;
    }
    .navbar-collapse .navbar-nav{
        width: 100%;
    }
    nav a.logo{
        float: right;
    }
    .navbar>.container, .navbar>.container-fluid{
        display: block;
    }
    header{
        max-height: 500px;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .about_travel .row{
        display: block;
    }
    .about_travel .col-lg-5, .about_travel .col-lg-7{
        display: block;
    }
}
@media (max-width: 800px){
    .day .event .hidden_part a.voucher{
        display: block;
        position: relative;
        display: inline-block;
    }

}
@media (max-width: 767px){

}
@media (max-width: 600px){
    .day .event .content{
        padding-left: 0;
        width: 100%;
        margin-top: 10px;
    }
    .day .event{
        display: block;
    }
    .day{
        padding-left: 35px;
    }
    .time_line{
        left: -35px;
    }
    .day .all_in_head:after,
    .day .event:before,
    .day .event:after{
        left: -50px;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -ms-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .day .event:after{
        left: -54px;
    }
    .time_for_timeline {
        font-size: 14px;
        text-align: center;
        position: absolute;
        left: -75px;
        top: 81px;
        width: 53px;
        background: #fff;
        padding: 10px 0;
    }
    header{
        max-height: 300px;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .wrapper_slider{
        margin-top: -139px;
    }
    .time_line_span {
        font-size: 12px;
    }
}
@media (max-width: 575px){
    .time_line_span {
        display:block;
        /*width: 34px;*/
        white-space:pre-line;
        word-wrap:break-word;
        font-size: 10px;
    }
    .time_line p{
        font-size: 14px;
        padding-left: 5px;
    }
    .time_line {
        left: -15px;
    }
    .day .all_in_head:after, .day .event:before, .day .event:after {
        left: -29px;
    }
    .day .event:after {
        left: -34px;
    }
    .time_for_timeline{
        left: -53px;
    }
    footer a.logo,
    footer ul{
        float: none;
        text-align: left;
        padding-left: 0;
        margin-left: 0;
    }
    footer ul li{
        display: block;
        padding-left: 0;
        margin-left: 0;
    }
    section.highlights{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .day .event .bottom_row .book_now{
        padding: 7px 10px;
        margin-top: 10px;
    }
    .day .event .bottom_row .show_less{
        margin-top: 17px;
    }
    .datepicker.dropdown-menu.datepicker-primary.open{
        left:10%!important;
    }
}
@media(max-width:415px){
    .event tr td .date {
        position: relative;
        height: 28px;
        width: 28px;
        display: block;
        right: 0;
        top: 5px;
        background: url(../assets/img/calendar.png) center center no-repeat;
        display: inline-block;
    }
    input[type="text"].form-control.form-control_check{
        margin-top: 6px;
    }
    .time_icon_box {
        width: 28px;
        position: relative;
        right: 0;
    }
    input[type="text"].form-control.timepicker_style{
        width: 95px;
    }
}

.content-center {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
}

.white {
    color: white;
}

.orange_button {
    font-size: 1em;
    border-radius: 0.25rem;
    padding: 15px 48px;
    background-color: #f96332;
    color: #FFFFFF;
    border-width: 2px;
    font-weight: 400;
    line-height: 1.35em;
    margin: 5px 1px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 0.25rem;
    padding: 15px 48px;
    padding-top: 15px;
    padding-right: 48px;
    padding-bottom: 15px;
    padding-left: 48px;
    width: 300px;
}

.awesome_button {
    font-size: 1em;
    padding: 15px 48px;
    border-width: 1px;
    border-radius: 30px !important;
    margin: 5px 1px;
    border: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    background-color: #fa7a50;
    color: #FFFFFF;
}

.tell_more_button {
    padding: 14px 47px;
    color: #f96332;
    border-color: #f96332;
    font-size: 1em;
    border: 1px solid;
    line-height: 1.35em;
    margin: 5px 1px;
    font-weight: 400;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    border-radius: 30px !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
}

.admin {
    padding: 30px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 27px 0px rgba(200, 200, 200, 0.56);
    margin-top: 10px;
    position: relative;
    margin: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.rect_orange_button {
    display: block;
    font-size: 12px;
    background: #f7643c;
    border-radius: 4px;
    color: #fff;
    line-height: 1.2;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 400;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #f7643c;
    margin-bottom: 20px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
}

.red-hover:hover {
    color: red;
}