//- Declaration
mixin day_m
    .day.day1
        .time_line
            p Day 1
        .all_in_head.all_in_head_js
            .head
                img(src='/assets/img/city1.jpg', alt='')
                h3 Arrival
                p Location(s): Barcelona
                p Overnight: Barcelona
        .event.active
            .icon
                img(src='/assets/img/icon1.png', alt='')
            .content
                h3
                    b Arrival - Barcelona
                    br
                    | Welcome to the start point of your itinerary and let the adventure begin!
                .hidden_part.active
                    table
                        tr
                            td Airport:
                            td CUN
                        tr
                            td Confirmation #:
                            td HSU4A7
                        tr
                            td Flight #:
                            td UA432
                        tr
                            td Airline:
                            td United Airlines
                        tr
                            td Terminal:
                            td 3
                        tr
                            td Gate:
                            td B10
                        tr
                            td Booked Through:
                            td Expedia
                    a.voucher(href='/assets/', download='')
                        i
                            img(src='/assets/img/paper.png', alt='')
                        | PDF
                .bottom_row.clearfix
                    a.book_now(href='/assets/#') Book Now
                    a.show_less.active(href='/assets/')
                        span Show Less
                        i
                            img(src='/assets/img/show.png', alt='')
                .clearfix
        .event
            .icon
                img(src='/assets/img/icon2.png', alt='')
            .content
                h3
                    b Check-in
                    br
                    | Check-in at Stay and make yourself comfortable
                .hidden_part
                    table
                        tr
                            td Airport:
                            td CUN
                        tr
                            td Confirmation #:
                            td HSU4A7
                        tr
                            td Flight #:
                            td UA432
                        tr
                            td Airline:
                            td United Airlines
                        tr
                            td Terminal:
                            td 3
                        tr
                            td Gate:
                            td B10
                        tr
                            td Booked Through:
                            td Expedia
                    a.voucher(href='/assets/', download='')
                        i
                            img(src='/assets/img/paper.png', alt='')
                        | PDF
                .bottom_row.clearfix
                    a.book_now(href='/assets/#') Book Now
                    a.show_less(href='/assets/')
                        span Show More
                        i
                            img(src='/assets/img/hide.png', alt='')
                .clearfix
        .event
            .icon
                img(src='/assets/img/icon3.png', alt='')
            .content
                h3
                    b Dinner - Tapas Stroll
                    br
                    | Take part in the traditional "el paseo" stroll at night, hopping from bar to bar and trying different  "tapas" appetizers. This is a greate way to sample local food and make new friends.
                .hidden_part
                    table
                        tr
                            td Airport:
                            td CUN
                        tr
                            td Confirmation #:
                            td HSU4A7
                        tr
                            td Flight #:
                            td UA432
                        tr
                            td Airline:
                            td United Airlines
                        tr
                            td Terminal:
                            td 3
                        tr
                            td Gate:
                            td B10
                        tr
                            td Booked Through:
                            td Expedia
                    a.voucher(href='/assets/', download='')
                        i
                            img(src='/assets/img/paper.png', alt='')
                        | PDF
                .bottom_row.clearfix
                    a.book_now(href='/assets/#') Book Now
                    a.show_less(href='/assets/')
                        span Show More
                        i
                            img(src='/assets/img/hide.png', alt='')
                .clearfix
        .event
            .icon
                img(src='/assets/img/icon4.png', alt='')
            .content
                h3
                    b Optional: Street Performance of Spanish Guitar or Jazz
                    br
                    | At night, Barcelona's streets, squares and parks come alive with music.
                    br
                    | Catch a live outdoor performance.
                .hidden_part
                    table
                        tr
                            td Airport:
                            td CUN
                        tr
                            td Confirmation #:
                            td HSU4A7
                        tr
                            td Flight #:
                            td UA432
                        tr
                            td Airline:
                            td United Airlines
                        tr
                            td Terminal:
                            td 3
                        tr
                            td Gate:
                            td B10
                        tr
                            td Booked Through:
                            td Expedia
                    a.voucher(href='/assets/', download='')
                        i
                            img(src='/assets/img/paper.png', alt='')
                        | PDF
                .bottom_row.clearfix
                    p.free Free
                    a.show_less(href='/assets/')
                        span Show More
                        i
                            img(src='/assets/img/hide.png', alt='')
                .clearfix